body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF


#fridge-door
  height 900px
  width 700px
  border solid 2px #dedede
  Border-radius 4px

.letter
  width 36px
  height 36px
  float left
  font-family 'Francois One', sans-serif
  font-size 65px
  margin-bottom 35px
  color green
  text-shadow  1px 2px 2px #333
  cursor pointer




.red
  color red
.green
  color green

.blue
  color blue

.yellow
  color yellow